@import "~normalize.css";
@import "constants";
@import "root-variables";
// @import "designTokens";
@import "tokens/colors.scss";
@import "tokens/effects.scss";
@import "tokens/shadows.scss";

@import "keyframes";

// * { scrollbar-color: dark }
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
body {
  font: 13px/1.4 var(--font-family);
  color: var(--color-text-neutrals);
  user-select: none;
  overflow: hidden;
}

video,
audio {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
:not(bdi *) {
  unicode-bidi: plaintext;
}
h3,
h4 {
  font-weight: normal;
}
pre {
  word-break: break-all;
  white-space: pre-wrap;
}
input,
textarea {
  outline: 0;
  border: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  resize: none;
}
button {
  outline: 0;
  color: inherit;
}
mark {
  background: var(--mark-bg);
}

kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background: var(--color-background-kbd);
  border-radius: 4px;
  margin-right: 4px;
  min-width: 22px;
  min-height: 22px;
  padding: 0 4px;
}
kbd.big {
  min-width: 33px;
  font-size: 24px;
}

.spoiler {
  background: black;
  color: black;
  padding: 1px 2px;
  border-radius: 2px;
  transition: 0.3s background ease;
  user-select: none;
  cursor: pointer;
  &.clicked {
    background: rgba(black, 0.3);
    color: white;
    cursor: initial;
    user-select: initial;
  }
}

.styled-inputs {
  input,
  textarea {
    border: 1px solid var(--color-border-input);
    box-shadow: rgba(0, 0, 0, 0.02);
    padding: 7px 11px;
    border-radius: 8px;
  }
  input:focus,
  textarea:focus {
    border-color: var(--color-border-input-active);
  }
  button {
    border: 0;
    border-radius: 8px;
    padding: 7px 1em 9px;
    position: relative;
    background: rgba(var(--color-gray-rgb), 0.25);
    color: var(--color-text-button-secondary);
  }
  button.primary {
    background: var(--color-primary);
    color: white;
  }
  button.primary:active {
    background: var(--color-primary);
    opacity: 0.9;
  }
  button:disabled {
    opacity: 0.5;
  }
  button:active {
    opacity: 0.8;
  }
  button:focus {
    box-shadow: var(--shadows-interactive-focus);
  }
  .button-red {
    background: rgba(233, 66, 66, 1);
    color: white;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }
}
.input-group {
  display: flex;
  input {
    width: 100%;
    margin-right: 4px;
  }
  input:last-child {
    margin-right: 0;
  }
}

.hidden {
  visibility: hidden;
}
.display-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.display-none {
  display: none !important;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.app-region-drag {
  -webkit-app-region: drag;
  button, a {
    -webkit-app-region: no-drag;
  }
}
.grayscale {
  filter: grayscale(1);
}

#root {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.participant-img {
  border-radius: 50%;
  object-fit: cover;
}

.tag {
  font-size: 12px;
  background: var(--color-background-tag);
  border-radius: 4px;
  padding: 1px 4px;
  margin-left: 0.5em;
}

.sentry-error-embed-wrapper .powered-by {
  display: none;
}

.spin-icon {
  animation: spin 1.2s infinite linear;
}
.drag-icon {
  cursor: move;
}

img.platform-icon {
  width: 1em;
  height: 1em;
}
.lottie {
  display: inline-block;
  line-height: 0;
}

.transcoding-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

img.loading,
canvas.loading,
video.loading,
.transcoding-placeholder {
  background-image: var(--skeleton-bg);
}

.enhanced-img {
  position: relative;
}
.heif-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thread-label {
  border-radius: 4px;
  padding: 0 5px;
  margin: 0 4px;
  font-size: 12px;
  color: var(--color-fg);
  font-size: 12px;
  background-color: rgba(var(--color-fg-rgb), 0.05);
  border-radius: 20px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  max-height: 20px;
}

.label-circle {
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

.suspense-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    align-self: center;
    justify-self: center;
    color: var(--color-fg);
    font-size: 42px;
    opacity: 0.2;
    animation: suspense-icon-transition 0.5s ease-in-out infinite;
  }
}

.thread-header-right > *,
.header-space .header-space-right-buttons {
  -webkit-app-region: no-drag;
}

.window-controls {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  opacity: 0.7;
  z-index: 15;

  button {
    -webkit-app-region: no-drag;
  }
  .btn-ghost svg {
    font-size: 12px;
  }
}
.window-controls-spacing {
  width: 100px;
  flex-shrink: 0;
}

.interactive-cursor-pointer {
  button,
  a,
  .switch,
  .header-space svg,
  .compose-text svg,
  .thread-header-right svg,
  .thread-children,
  .menu-item,
  .left-pane-footer,
  .participants-list .participant,
  .react-icon,
  .pref-option,
  .add-account > span {
    cursor: pointer !important;
  }
}

// selection highlight color is too close to the primary blue on windows
.is-windows .is-sender ::selection {
  background: #fff;
  color: var(--color-primary);
}

.custom-scrollbars {
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 20px;
    background-color: var(--color-background-scrollbar);
    transition: background 0.5s ease;
    min-height: 40px;
    &:hover {
      background-color: var(--color-background-scrollbar-hover);
    }
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.user-ids {
  color: var(--color-text-neutrals-weak);
  span:not(:last-child) {
    margin-right: 8px;
  }
}

.locked-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    height: 80px;
    opacity: 0.7;
  }

  button {
    padding: 8px 60px;
  }
}

.single-platform-connected {
  .sidebar-thread,
  .select-thread-command {
    .platform-icon {
      display: none;
    }
  }
}
.single-account-filter-active {
  .sidebar-thread {
    .platform-icon {
      display: none;
    }
  }
}

@import "Switch";
@import "LeftPane";
@import "RightPane";
@import "RightPaneHeader";
@import "ComposeMessage";
@import "AudioBar";
@import "GifPicker";
@import "StickerPicker";
@import "ComposeAutocomplete";
@import "MessageComponents";
@import "CommandBar";
@import "Modals";
@import "Toasts";
@import "ThreadGridView";
@import "OnboardingView";
@import "AutocompleteOptions";
@import "Popover";
@import "AttachmentCarousel";
@import "Video";
@import "Audio";
@import "Tooltip";
@import "platform-styles";
@import "Skeleton";
@import "Feedback";
@import "FiltersPane";
@import "Dialog";
@import "Button";

@import "WKWV";
