.attachment-carousel {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  header,
  footer,
  main {
    display: flex;
    width: 100%;
  }
  header {
    height: 50px;
    padding: 16px;
    font-size: 28px;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
    button {
      background: none;
      border: none;
      margin-left: 8px;
    }
  }
  main {
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    transition: opacity 0.15s ease;
  }
  .attachment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .react-transform-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    display: flex;
    button {
      padding: 8px;
    }
    svg {
      height: 36px;
      width: 36px;
      display: block;
    }
  }
  .prev-button {
    left: 0;
  }
  .next-button {
    right: 0;
  }
  img,
  canvas {
    object-fit: scale-down;
  }
  .attachment {
    .img,
    img,
    canvas {
      max-width: 100vw;
      max-height: 90vh;
    }
  }
  .attachment-preview {
    margin: 8px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid transparent;
    .img,
    img,
    video,
    canvas {
      max-height: 100px;
      max-width: 400px;
    }
    &.selected {
      border-color: white;
    }
  }

  .video-container {
    video {
      width: 100%;
      height: auto;
      position: initial;
    }
  }

  .carousel-controls {
    position: absolute;
    top: calc(50% - 21px);
    left: 0;
    width: 100%;
    font-size: 42px;
    display: flex;
    justify-content: space-between;
    padding: 12px;

    button {
      margin: 0;
      opacity: 0.75;
      transition: opacity 0.1s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .enhanced-img img {
    pointer-events: auto !important;
  }
}
