.autocomplete-options {
  margin-top: 1em;
  padding: 1em 0 0;
  border-top: 1px dashed var(--color-border-neutrals-weak);
  border-bottom: 1px dashed var(--color-border-neutrals-weak);
  min-height: 128px;
  cursor: default;
}
.bubble-mode .autocomplete-option {
  .message-contents {
    background: none;
    color: var(--color-text-message-bubble-suggested);
    border: 1px solid var(--color-border-message-bubble-suggested);
  }
  .message-text-container {
    color: inherit !important;
  }
}

.message-timestamps.bubble-mode .autocomplete-option {
  padding-right: $message-timestamp-width + 13px;
}
