.subview-prefs-browser-ext {
  display: flex;
  flex-direction: column;
  align-items: center;

  .prefs-group,
  h4 {
    width: 100%;
  }
  .prefs-group {
    margin-bottom: 0;
  }

  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  a {
    font-size: 110%;
    display: block;
  }
}
