.hotkeys-modal {
  align-self: center;
  max-width: 350px;
  padding: 1em 0;
  margin-left: calc(100vw - 350px - 1em);

  h3 {
    padding: 8px 1.5rem;
    margin: 0;
  }
  .hotkey-search-empty {
    color: rgba(var(--color-fg-rgb), 0.35);
    margin: auto;
    font-size: 16px;
  }
  .groups {
    height: 80vh;
    display: flex;
    overflow: auto;
    flex-direction: column;
    width: 100%;
    .hotkey-group-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  .hotkeys-modal-search {
    padding: 4px 1.4rem;
    padding-bottom: 10px;
    margin: 0;
    transition: border-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 1px solid transparent;

    &.scrolled {
      border-color: rgba(var(--color-fg-rgb), 0.1);
    }

    input {
      width: 100%;
    }
  }
  .hotkey {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0.7rem;
    margin: 0 0.8rem;
    border-radius: 8px;
    min-width: 325px;
    align-self: center;
    font-variant: tabular-nums;
    &:hover {
      background: rgba(var(--color-fg-rgb), 0.05);
    }
  }

  .hotkey-group {
    padding: 0.3rem 0.7rem;
    margin: 0 0.8rem;
    margin-top: 0.8rem;
    font-weight: 600;
  }
}
