@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes suspense-icon-transition {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dnd-container-appear {
  from {
    max-height: 0px;
  }
  to {
    max-height: 33px;
  }
}
@keyframes dnd-icon-appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes dnd-text-appear {
  from {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes onboardingFadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes contactFrontUserIcon {
  0% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate3d(-8px, 6px, 0px);
    opacity: 1;
  }
}

@keyframes contactBackUserIcon {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
    opacity: 0;
  }

  100% {
    transform: translate3d(10px, -2px, 0px) scale(0.95);
    opacity: 0.5;
  }
}

// @keyframes shake {
//   0% {
//     transform: translate(1px, 1px) rotate(0deg);
//   }
//   10% {
//     transform: translate(-1px, -2px) rotate(-2deg);
//   }
//   20% {
//     transform: translate(-3px, 0px) rotate(2deg);
//   }
//   30% {
//     transform: translate(3px, 2px) rotate(0deg);
//   }
//   40% {
//     transform: translate(1px, -1px) rotate(2deg);
//   }
//   50% {
//     transform: translate(-1px, 2px) rotate(-2deg);
//   }
//   60% {
//     transform: translate(-3px, 1px) rotate(0deg);
//   }
//   70% {
//     transform: translate(3px, 1px) rotate(-2deg);
//   }
//   80% {
//     transform: translate(-1px, -1px) rotate(2deg);
//   }
//   90% {
//     transform: translate(1px, 2px) rotate(0deg);
//   }
//   100% {
//     transform: translate(0px, 0px) rotate(0deg);
//   }
// }
