@import "mixins";

// .onboarding-view {
//   @include fixed-occupy-fullscreen;

//   display: flex;

//   .modal {
//     background-color: var(--color-background-elevated);
//     border-radius: 12px;
//     padding: 40px;
//     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
//     max-width: 400px;
//     min-height: 450px;
//     max-height: 75vh;
//     align-self: center;
//     justify-self: center;
//     display: flex;
//     flex-direction: column;
//   }

//   .modal-content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     overflow: auto;
//     flex-grow: 1;
//     opacity: 1;

//     &.fading {
//       animation: fadeOut 0.25s cubic-bezier(0, 0, 0.14, 1) forwards;
//     }
//   }

//   button {
//     position: relative;
//   }

//   .buttons {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   img,
//   svg {
//     width: 82px;
//     height: 82px;
//   }

//   .btn-solid {
//     min-width: 110px;
//   }
//   .btn-solid:nth-child(2) {
//     margin-left: 1em;
//   }

//   button.initial {
//     opacity: 0;
//     animation: onboardingFadeIn 0.5s cubic-bezier(0, 0, 0.13, 1) 1s forwards;
//   }
// }

.onboarding-sidebar {
  padding-top: var(--header-height);
  max-width: 340px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals-weak);

  button {
    position: relative;
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }
  button.primary {
    background: #0a84ff;
    padding: 8px 20px;
    border-radius: 6px;
    min-width: 110px;
    color: white;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    flex-grow: 1;
    opacity: 1;

    &.fading {
      animation: fadeOut 0.25s cubic-bezier(0, 0, 0.14, 1) forwards;
    }
  }
}

.onboarding-keyboard {
  h1 {
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.3s forwards;
  }
  p {
    max-width: 80%;
    margin: auto;
    color: rgba(var(--color-fg-rgb), 0.75);
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.6s forwards;
  }
}

.onboarding-second-page {
  h1 {
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) forwards;
  }
  p {
    max-width: 80%;
    margin: auto;
    color: rgba(var(--color-fg-rgb), 0.75);
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.3s forwards;
  }

  .onboarding-shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.6s forwards;
  }

  .success-badge {
    background-color: #32d74b;
    border-radius: 20px;
    padding: 4px 8px;
    width: 120px;
    margin: auto;
    margin-top: 40px;
    opacity: 0;
    color: white;

    &.visible {
      animation: onboardingFadeIn 0.5s cubic-bezier(0, 0, 0.13, 1) 0.5 forwards;
    }

    span {
      margin-left: 6px;
    }

    svg {
      transform: translateY(1px);
    }
  }
}
.onboarding-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  .progress-bar-container {
    background-color: var(--color-background-object);
    border-radius: 20px;
    height: 12px;
    width: 280px;
    padding: 2px;
    box-shadow: 0 0 0 1px var(--color-border-neutrals-weak);
  }

  .progress-bar {
    height: 8px;
    background: linear-gradient(to bottom, #3299ff, #0b85ff);
    border-radius: 20px;
    transition: all 0.15s ease-out;
  }

  button {
    color: var(--color-text-neutrals-weak);
    margin-left: 8px;
  }
}
