@import "mixins";

// .onboarding-view {
//   @include fixed-occupy-fullscreen;

//   display: flex;

//   .modal {
//     background-color: var(--color-background-elevated);
//     border-radius: 12px;
//     padding: 40px;
//     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
//     max-width: 400px;
//     min-height: 450px;
//     max-height: 75vh;
//     align-self: center;
//     justify-self: center;
//     display: flex;
//     flex-direction: column;
//   }

//   .modal-content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     overflow: auto;
//     flex-grow: 1;
//     opacity: 1;

//     &.fading {
//       animation: fadeOut 0.25s cubic-bezier(0, 0, 0.14, 1) forwards;
//     }
//   }

//   button {
//     position: relative;
//   }

//   .buttons {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   img,
//   svg {
//     width: 82px;
//     height: 82px;
//   }

//   .btn-solid {
//     min-width: 110px;
//   }
//   .btn-solid:nth-child(2) {
//     margin-left: 1em;
//   }

//   button.initial {
//     opacity: 0;
//     animation: onboardingFadeIn 0.5s cubic-bezier(0, 0, 0.13, 1) 1s forwards;
//   }
// }

.onboarding-sidebar {
  padding-top: var(--header-height);
  max-width: 340px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals-weak);

  button {
    position: relative;
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }
  button.primary {
    background: #0a84ff;
    padding: 8px 20px;
    border-radius: 6px;
    min-width: 110px;
    color: white;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    flex-grow: 1;
    opacity: 1;

    &.fading {
      animation: fadeOut 0.25s cubic-bezier(0, 0, 0.14, 1) forwards;
    }
  }

  .success-badge {
    background-color: #32d74b;
    border-radius: 20px;
    padding: 4px 16px;
    display: inline-block;
    margin: auto;
    margin-top: 40px;
    opacity: 0;
    color: white;

    &.visible {
      animation: onboardingFadeIn 0.5s cubic-bezier(0, 0, 0.13, 1) 0.5 forwards;
    }

    span {
      margin-left: 6px;
    }

    svg {
      transform: translateY(1px);
    }
  }
}

.onboarding-keyboard {
  h1 {
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.3s forwards;
  }
  p {
    max-width: 80%;
    margin: auto;
    color: rgba(var(--color-fg-rgb), 0.75);
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.6s forwards;
  }
  .success-badge {
    margin: 0;
    position: relative;
    top: -2em;
  }

  .keyboard-key-top {
    @keyframes pressQuickly {
      30% {
        transform: translateY(8px);
      }
      70% {
        transform: translateY(8px);
      }
    }
    animation: pressQuickly 500ms ease-in-out;
  }
  .keyboard-key:nth-of-type(1) .keyboard-key-top {
    animation-delay: 800ms;
  }
  .keyboard-key:nth-of-type(2) .keyboard-key-top {
    animation-delay: 875ms;
  }
  .keyboard-key:nth-of-type(3) .keyboard-key-top {
    animation-delay: 950ms;
  }
  .keyboard-key:nth-of-type(4) .keyboard-key-top {
    animation-delay: 1025ms;
  }
  .keyboard-key:nth-of-type(5) .keyboard-key-top {
    animation-delay: 1100ms;
  }
}

.onboarding-second-page {
  h1 {
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) forwards;
  }
  p {
    max-width: 80%;
    margin: auto;
    color: rgba(var(--color-fg-rgb), 0.75);
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.3s forwards;
  }

  .onboarding-shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    opacity: 0;
    animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) 0.6s forwards;
  }
}
.onboarding-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  .progress-bar-container {
    background-color: var(--color-background-object);
    border-radius: 20px;
    height: 12px;
    width: 280px;
    padding: 2px;
    box-shadow: 0 0 0 1px var(--color-border-neutrals-weak);
  }

  .progress-bar {
    height: 8px;
    background: linear-gradient(to bottom, #3299ff, #0b85ff);
    border-radius: 20px;
    transition: all 0.15s ease-out;
  }

  button {
    color: var(--color-text-neutrals-weak);
    margin-left: 8px;
  }
}

.account-onboarding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-bg-rgb), 0.5);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-onboarding-continue {
  font-size: 14px;
  color: rgba(var(--color-base-gray-120-rgb), 0.4);
  animation: fadein 1s cubic-bezier(0, 0, 0.13, 1) 2.5s backwards;
}

.account-onboarding-loading {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: rgba(var(--color-base-gray-120-rgb), 0.4);
  font-size: 15px;
  svg {
    color: rgba(var(--color-base-gray-120-rgb), 0.6);
  }
  .account-onboarding-go-back {
    position: absolute;
    bottom: 32px;
    font-size: 14px;
  }
}

.account-onboarding-header {
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.38px;
  margin-top: auto;
  padding-top: 16px;
  animation: fadein 1s cubic-bezier(0, 0, 0.13, 1) 1s backwards;

  h1 {
    font-size: 28px;
    margin: 8px 0;
  }
  @media (max-height: 570px), (max-width: 640px) {
    font-size: 16px;
    img {
      width: 64px;
      height: 64px;
    }
    h1 {
      font-size: 24px;
    }
  }
}

.account-onboarding-platforms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 16px;

  width: 100%;
  max-width: 889px; // 5 buttons (max width) + 4 gaps
  margin: 3.5vh 0;

  button {
    width: 100%;
    max-width: 165px;
    aspect-ratio: 7 / 5;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-fg);
    border: 1px solid var(--color-platform-card-outline);
    border-radius: 12px;

    animation: onboardingFadeIn 0.6s cubic-bezier(0, 0, 0.13, 1) backwards;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.05 + 1.5}s; // Max delay: 10 x 0.05 + 1.5 = 2s
      }
    }

    &,
    & > * {
      transition: all 150ms ease-in-out;
    }

    // Tooltip
    &::before {
      content: attr(data-platform-name);
      position: absolute;
      top: calc(100% + 4px);
      left: 50%;
      transform: translateX(-50%);
      padding: 4px 16px;
      color: var(--color-text-tooltip);
      background: var(--color-background-tooltip);
      border: 1px solid var(--color-border-tooltip);
      border-radius: 8px;
      font-size: 14px;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      transition: all 150ms ease-in-out;
    }

    &:hover,
    &:focus {
      border-color: transparent;

      &::before,
      .brand-icon,
      .brand-background {
        opacity: 1;
      }

      .brand-icon.is-monochrome {
        filter: invert(1);
      }
    }
  }

  .brand-icon:not(.is-monochrome) {
    position: absolute;
    opacity: 0;
  }

  .brand-icon.is-monochrome {
    filter: invert(0);
    opacity: 0.7;
  }

  .brand-icon {
    width: 48px;
    height: 48px;
  }

  .brand-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    opacity: 0;
  }

  @media (prefers-color-scheme: dark) {
    .brand-icon.is-monochrome {
      filter: invert(1);
      opacity: 1;
    }
  }

  @media (max-height: 570px), (max-width: 640px) {
    grid-template-columns: repeat(5, auto);
    gap: 8px;

    button {
      height: auto;
      aspect-ratio: unset;
      padding: 8px;
      border-radius: 8px;
    }

    .brand-icon {
      width: 36px;
      height: 36px;
    }
  }
}

.account-onboarding-footer {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin: auto 0 32px;
  color: rgba(var(--color-fg-rgb), 0.6);

  animation: fadein 1s cubic-bezier(0, 0, 0.13, 1) 2.5s backwards;

  button {
    color: rgba(var(--color-fg-rgb), 1);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    vertical-align: text-bottom;
  }

  @media (max-height: 570px) {
    margin-bottom: 24px;
  }
}

.account-onboarding-window-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
}

.add-account-modal {
  animation: fadein 0.1s cubic-bezier(0, 0, 0.13, 1) 0.5s forwards;
  animation-fill-mode: both;
  background: none; // Safari flickers its animations when this element has transparent background
  .modal {
    background: var(--color-overlay-modal);
    backdrop-filter: none;
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: var(--header-height) 3vw;
  }
  .spin-icon {
    color: #fff;
    width: 3em;
    height: 3em;
  }
}
.add-account-modal-content {
  animation: onboardingFadeIn 0.3s cubic-bezier(0, 0, 0.13, 1) forwards;
  animation-fill-mode: both;
  max-width: 100%;
  margin: auto;
  .subview-add-account {
    padding: 0;
  }
}
