.circular-video {
  video {
    border-radius: 50% !important;
  }
}

// DiceStickersSlotMachine contains 5 stickers
.telegram-dice {
  .message-attachments {
    position: relative;
  }
  .enhanced-img:not(:first-child) {
    position: absolute;
  }
}

.platform-twitter.thread-notifications,
.platform-linkedin.thread-my-network-notifications {
  .message-contents a {
    border-bottom: none;
  }
}
