// DiceStickersSlotMachine contains 5 stickers.
.telegram-dice {
  .message-attachments {
    position: relative;
  }
  .enhanced-img:not(:first-child) {
    position: absolute;
  }
}
.telegram-video-note {
  video {
    border-radius: 50%;
  }
}
.platform-twitter.thread-notifications,
.platform-linkedin.thread-my-network-notifications {
  .message-contents a {
    border-bottom: none;
  }
}
