.prefs-view {
  display: flex;
  height: 100%;
  overflow: auto;
  padding-top: var(--header-height);
  .existing {
    margin: 1em 0;
  }
}

.browser-ext-screenshot {
  width: 320px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.prefs-left-pane {
  border-right: 1px solid var(--color-border-neutrals);
  min-width: 300px;
  h4 {
    color: var(--color-text-neutrals-weak);
    font-size: 12px;
    margin: 0 12px;
    font-weight: 500;
  }
  overflow: auto;
  height: 100%;
}

.prefs-right-pane {
  background-color: var(--color-background-grouped-weak);
  padding: 1em;
  width: 100%;
  overflow: auto;
  > div {
    width: 100%;
  }
}

.pref-category {
  padding: 1em 0.5em;
  position: relative;
}
.pref-category:not(:last-child) {
  border-bottom: 1px solid var(--color-border-neutrals-weak);
}

// .prefs-search {
//   padding: 1em;
//   border-bottom: 1px solid var(--color-border-neutrals-weak);
//   border-right: 1px solid var(--color-border-neutrals);
//   background-color: var(--color-bg);
//   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
//   transition: box-shadow 0.15s ease-in-out;

//   &.scrolled {
//     box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
//   }

//   input {
//     border-radius: 8px;
//     background-color: var(--prefs-well);
//     width: 100%;
//     padding: 8px 12px;
//   }
// }

.prefs-group.loading {
  cursor: wait;
  opacity: 0.75;
  pointer-events: none;
}
.prefs-group.loading button {
  cursor: wait;
}

.pref-option {
  padding: 8px 12px;
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  cursor: default;

  .pref-icon,
  span {
    z-index: 1;
  }

  .right-icon {
    color: var(--color-icon-neutrals-weak);
  }

  div {
    display: flex;
    align-items: center;

    > span:first-child {
      width: 20px;
      height: 20px;
      border-radius: 6px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }
}
.pref-icon {
  font-size: 20px;
  margin-right: 10px;
  display: flex;
}
.pref-text {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
// .pref-option:hover { background: rgba(var(--color-fg-rgb), .05) }
.dragging {
  transform: translate(0, 0);
}
.pref-option.selected {
  background: var(--color-background-preferences-option-selected);
  color: white;

  .right-icon {
    color: var(--color-icon-on-accent-weak);
  }

  .pref-icon:not(.platform-icon) {
    background-color: white !important;
    color: var(--color-primary) !important;
  }
}

.accounts-list {
  .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }
  .mute-icon,
  .spin-icon {
    margin: 0 4px;
    opacity: 0.5;
    width: 16px;
    height: 16px;
  }
  .mute-icon.muted {
    opacity: 1;
  }
  .selected .switch.on {
    background: rgba(black, 0.5);
  }
  h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    margin-left: 10px;
    transition: transform 0.1s ease-in-out;
    display: flex;
    align-items: center;
  }
  button.accounts-collapsed {
    transform: rotate(-90deg);
  }
  div {
    display: flex;
    align-items: center;
  }
}
.accounts-items {
  margin: 2px 0;
  display: flex;
  flex-direction: column;
  max-height: 5000px;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;

  .pref-option {
    width: 100%;
    margin: 2px 0;
  }
  &.accounts-collapsed {
    max-height: 0;
  }
  .switch {
    z-index: 1;
  }
}

.add-account {
  display: flex;
  flex-wrap: wrap;

  h4 {
    width: 100%;
    margin-bottom: 8px;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5em;
  }
  .new-account-icon {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
  }

  .platform-icon {
    font-size: 28px;
    margin: 0 6px;
    z-index: 1;
  }
  .platform-icon:hover {
    color: var(--color-primary);
  }
}

.subview-add-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  position: relative;

  .add-account-contents,
  .privacy-statement {
    width: 100%;
    max-width: 480px;
    border-radius: 18px;
    background-color: var(--color-background-grouped);
  }

  .privacy-statement {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 0.6em 1em;
  }

  .platform-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;

    img {
      font-size: 52px;
      margin-bottom: 10px;
      margin-right: 0;
    }
    span.tag {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      margin-top: 2px;
    }
  }

  .add-account-contents {
    padding: 32px 64px;
    transform-origin: top left;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      label {
        margin-bottom: 4px;
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    max-width: 250px;
    margin: 0.5em 0;
  }
  button {
    margin-left: 0.5em;
  }
  button:first-child {
    margin-left: 0;
  }
  .auth-error {
    white-space: pre-wrap;
  }
  .auth-error-icon {
    font-size: 16px;
    vertical-align: text-bottom;
  }

  footer {
    border-top: 1px solid #dbdbdb;
    font-weight: 400;
    line-height: 20px;
    color: #6f6f6f;
    font-size: 12px;
    margin-top: 32px;
    width: calc(100% + 128px);
    margin-left: -64px;
    padding: 0 32px;
    padding-top: 32px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    margin: auto;

    div {
      margin: 8px 0;
      display: flex;
      align-items: center;
      color: #171717;

      span {
        background-color: #e8e8e8;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        border-radius: 60px;
        margin-right: 12px;
        font-size: 14px;
        padding: 12px;
        cursor: default;
        user-select: none;
      }
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    position: relative;

    span {
      font-size: 12px;
      margin-bottom: 4px;
    }
  }
}

.browser-login-option {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  align-items: center;
  width: 100%;
  button {
    max-width: 250px;
  }
}
.autofill-options {
  width: 100%;
  margin-top: 12px;
  border: 1px solid var(--color-border-neutrals);
  border-radius: 20px;
  padding: 12px 18px;

  h4 {
    margin: 0;
    margin-bottom: 18px;
    opacity: 0.5;
    font-weight: 500;
    width: 100%;
    font-size: 12px;
  }
}
.autofill-option {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  outline: 0;
  cursor: default;

  img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin-right: 8px;
  }
}

.autofill-options.overlay {
  position: fixed;
  width: 200px;
  background: var(--color-background-elevated);
  border: 1px solid var(--color-border-neutrals);
  box-shadow: var(--shadows-background-elevated);
  border-radius: 12px;
  padding: 6px;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top left;
  animation: show-autofill 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  .autofill-option {
    border-radius: 8px;
    padding: 0px 4px;
    margin-top: 0;
    margin-bottom: 4px;
    &.focused {
      background-color: var(--color-background-elevated-hover);
    }
  }

  .autofill-details span {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4 {
    margin-left: 4px;
    margin-bottom: 10px;
  }

  img {
    width: 24px;
  }
}

@keyframes show-autofill {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// TODO: colors should go to variables.scss
@media (prefers-color-scheme: dark) {
  // .autofill-options.overlay {
  //   background: #232323;
  //   border: 1px solid #343434;
  // }

  .subview-add-account {
    .list div {
      color: #dfdfdf;
      span {
        background-color: #313131;
      }
    }

    footer {
      border-color: #cdcdcd;
      color: #a0a0a0;
    }
  }
}

.autofill-details {
  display: flex;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
  }
}

.label-wrapper {
  outline: none;
  border-bottom: 1px solid var(--color-border-neutrals-weak);

  &.disabled label {
    cursor: not-allowed;
  }

  &:focus-visible {
    background-color: rgba(var(--color-fg-rgb), 0.1);
  }

  label {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.prefs-group .label-wrapper:last-child {
  border-bottom: none;
}

.subview-prefs,
.account-prefs {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}
.subview-prefs {
  h4 {
    color: var(--color-text-neutrals-weak);
    margin: 0;
    padding: 0 1em;
    text-transform: uppercase;
    font-size: 12px;
  }

  select {
    background-color: rgba(var(--color-fg-rgb), 0.3);
    border-radius: 4px;
    border: 0;
    color: var(--color-fg);
    padding: 2px 4px;
    padding-right: 20px !important;
    font-size: 12px;
    outline: none;

    &:focus-visible {
      background-color: rgba(var(--color-fg-rgb), 0.4);
    }
  }

  option {
    background-color: rgba(var(--color-fg-rgb), 0.3);
  }
}

.subview-prefs-ui {
  button {
    margin-right: 0.5em;
  }
}

.platform-header {
  display: flex;
  align-items: center;
  margin: 6px 0;
  .platform-icon {
    font-size: 16px;
    margin-right: 4px;
  }
}

.subview-prefs-legal {
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.prefs-group {
  margin: 0;
  margin-bottom: 28px;
  margin-top: 6px;
  border-radius: 8px;
  padding: 0;
  background: var(--color-background-grouped);
  border: 1px solid var(--color-border-neutrals-weak);
  overflow: hidden;
}
a.pref-option {
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid var(--color-border-neutrals-weak);

  &:last-child {
    border-bottom: 0;
  }
}
.prefs-action-group {
  padding: 1em;
  display: flex;
}
.theme-button {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  box-shadow: none !important;

  img {
    width: 100px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 6px;
  }

  span {
    padding: 4px 10px;
    border-radius: 50px;
  }

  &:disabled {
    opacity: 1 !important;

    img {
      border-color: var(--color-primary);
    }

    span {
      background-color: var(--color-primary);
      color: var(--color-text-on-accent);
    }
  }

  &:active {
    opacity: 1 !important;
  }
}

.zoom-level {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    color: var(--color-icon-neutrals);
  }

  svg:first-child {
    width: 14px;
    height: 14px;
    transform: translateX(8px);
  }

  svg:last-child {
    width: 20px;
    height: 20px;
    transform: translateX(-4px);
  }
}

.zoom-slider {
  width: 85%;
  padding: 6px 0;
  position: relative;
  height: 20px;

  .track {
    background-color: var(--color-primary);
    border-radius: 8px;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 8px;
  }
  .track-left,
  .track-right {
    // background-color: var(--color-primary);
    // border-radius: 8px;
    // height: 4px;
    // width: 100%;
  }

  .zoom-level {
    position: absolute;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 12px;
    border: 2px solid var(--color-bg);
    background-color: var(--color-primary);
  }

  .knob {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    z-index: 1;
  }

  input {
    position: absolute;
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
  }
}
.prefs-group:first-child {
  margin-top: 0;
}

.subview-prefs-secret {
  button:not(:first-child) {
    margin-left: 4px;
  }
}

.new-badge {
  background: var(--color-primary);
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: 500;
  margin-left: 5px;
}

.label-input-wrapper {
  display: flex;
  width: 70%;
  position: relative;
}

.label-input {
  overflow: visible;
  border: 0 !important;
  height: 20px;
  border-radius: 50px !important;
  padding-left: 20px !important;
  font-size: 12px;
  overflow: hidden;
  width: auto;
  width: 90px;
  resize: horizontal;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  min-width: 90px;

  &:active,
  &:focus {
    min-width: 100%;
  }
}

.color-circle-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;

  .label-circle {
    border: 0;
    padding: 0;

    &::-webkit-color-swatch {
      border: 0;
    }
  }

  .color-picker-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input,
    span {
      position: absolute;
    }

    // todo: fix color input having too much click area

    // It's not possible to hide the color picker datalist's dropdown arrow, so we're using a span as
    // a color display element and placing a transparent input with the same dimensions on top of it to
    // actually handle the color switching.
    input {
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
}
.notification-prefs-account {
  label {
    padding-left: 3em;
  }
}

.notification-prefs-account-header {
  padding: 0.8em 1em;
  display: flex;

  .platform-icon {
    font-size: 18px;
    margin-right: 0.5em;
  }
}

.description-text {
  padding: 1em;
  padding-top: 0;
  display: inline-block;
  color: var(--color-text-neutrals-weak);
}

.description-text-no-padding {
  display: inline-block;
  color: var(--color-text-neutrals-weak);
}

@media (prefers-color-scheme: light) {
  .subview-prefs select {
    background-color: rgba(var(--color-fg-rgb), 0.1);
  }
}
