@import "constants";
@import "mixins";

.right {
  // padding-top: var(--header-height);
  display: flex;
  flex: 1;
  height: 100%;
  background: var(--color-background-app);
  flex-direction: column;
  position: relative;
  outline: none;
  overflow: hidden;
}

.right-pane-header {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 0;
  z-index: 2;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, 0, 0);
}

.resizing-sidebar .right-pane-header {
  transition: none;
}

.pane-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  outline: 0;
}
.panes {
  display: flex;
  overflow-y: auto;
  flex: 1;
  outline: 0;
}
.messages-list-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  // transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  .texts-icon {
    min-height: 32px;
    align-self: center;
    width: 100%;
    opacity: 0.1;
    font-size: 32px;
    margin: calc(16px + var(--header-height)) 0 8px;
  }
}
.messages-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  margin-top: auto;
  .date {
    align-self: center;
    position: sticky;
    top: -1px;
    padding-top: calc(var(--header-height) + 8px);
    z-index: 1;
    transition: opacity 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: none;
    margin-top: calc(var(--header-height) * -1 + 8px);

    &.pinned {
      opacity: 0;
    }

    div {
      background: var(--color-background-elevated);
      border-radius: 100px;
      padding: 3px 8px;
      margin: 1em 0 0.5em;
      font-size: 12px;
      font-weight: 500;
      color: var(--color-text-neutrals-weak);
      border: 1px solid var(--color-border-neutrals-weak);
    }
  }
  img,
  canvas {
    object-fit: scale-down;
  }
}

.scrolling .date.pinned {
  opacity: 1;
}

.loading-indicator {
  text-align: center;
  padding: 1em;
  margin-top: var(--header-height);
}
.message-timestamps.bubble-mode {
  .loading-indicator,
  .texts-icon {
    width: calc(100% - #{$message-timestamp-width});
  }
  .messages-list .date {
    margin-right: $message-timestamp-width;
  }
  .thread-divider {
    padding-right: $message-timestamp-width;
  }
}

.dropping {
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(var(--color-bg-rgb), 0.2);
  border: 10px dashed rgba(var(--color-fg-rgb), 0.2);
  margin: 3em 1em 0.5em;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-to-bottom {
  position: absolute;
  color: var(--color-icon-neutrals-strong);
  background: var(--color-background-elevated);
  border: 1px solid var(--color-border-neutrals);
  filter: drop-shadow(var(--shadows-base-sm));
  width: 32px;
  height: 32px;
  margin: 0.5em;
  padding: 5px;
  border-radius: 50%;
  bottom: 50px;
  right: 10px;
  transition: opacity 0.15s ease-out;
  opacity: 0;
  pointer-events: none;

  &.scroll-button-visible {
    opacity: 1;
    pointer-events: all;
  }
}

.thread-info {
  padding-top: var(--header-height);
  max-width: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals);
  user-select: text;
  .participant {
    display: flex;
    margin: 1em 0;
    > div {
      display: flex;
      flex-direction: column;
    }
    .participant-img {
      margin-right: 0.5em;
      margin-top: 4px;
      min-width: 32px;
    }
    .verified-icon {
      vertical-align: middle;
      margin: 0 3px 3px;
      font-size: 12px;
    }
  }
  .cover {
    background: var(--color-background-app-weak);
    background-size: cover;
    width: 100%;
    height: 100px;
    min-height: 100px;
    margin-bottom: -48px;
  }
  .user-ids span {
    display: block;
  }
  h4 {
    color: var(--color-text-neutrals-weak);
    margin-bottom: 4px;
  }
}

.thread-info-header {
  // border-bottom: 1px rgba(var(--color-fg-rgb), .05) solid;
  padding: 0 12px 0;
  margin-bottom: 2px;
  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
  }
  h4 {
    margin: 4px 0;
  }
  img {
    width: 80px;
    height: 80px;
    margin: 8px 0;
  }
  .tag {
    font-weight: normal;
  }
}

.thread-info-avatar {
  display: inline-flex;
  outline: 0;

  .fs-close-icon {
    display: none;
  }

  img {
    cursor: zoom-in;
  }

  &.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    img {
      width: unset;
      height: unset;
      max-width: 98vw;
      max-height: 98vh;
      cursor: zoom-out;
      border-radius: 0;
    }

    .fs-close-icon {
      display: initial;
      width: 32px;
      height: 32px;
      color: white;
      position: absolute;
      right: 18px;
      top: 18px;
    }
  }
}

.thread-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .edit-button {
    padding: 0;
    background-color: transparent;
    color: var(--color-fg);
  }
}
.thread-participants {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.editable-contact-name {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 8px;
  }
}
.contact-edit-buttons {
  display: flex;

  button {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .button-cancel {
    background-color: transparent;
    color: var(--color-fg);
    padding: 2px 4px;
  }
}

.thread-info-body {
  padding: 0 12px;
  overflow: auto;
}
.alt-account-thread {
  img {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 2px;
  }
  margin: 6px 0;
}

.thread-desc {
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 1em;
}
.thread-note {
  margin: 1.5em 0;
  textarea {
    width: 100%;
  }
}
.location svg {
  vertical-align: text-bottom;
}
.website {
  word-break: break-word;
}
.website svg {
  font-size: 8px;
  opacity: 0.8;
}

.add-contact {
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 5px;
  }
}
.add-to-existing-contact {
  padding-top: 6px;
  button {
    width: 100%;
  }
}
.thread-group .add-contact {
  input,
  button {
    padding: 4px 8px;
  }
}

.phone {
  span {
    margin: 0 4px;
  }
  display: flex;
}

.contact-pane {
  margin-top: 2px;
  .social-profiles svg {
    font-size: 16px;
    vertical-align: middle;
    margin: 4px 4px 4px 0;
  }
  > div > div {
    margin: 0 0 2px;
  }
  .group {
    margin: 16px 0;
  }
}

.unread-divider {
  // outline instead of border to not shift other elements when hidden
  outline: 0.5px solid var(--color-primary);
  position: relative;
  cursor: default;
  width: 100%;
  right: 4px;
  span {
    background: var(--color-primary);
    color: white;
    position: absolute;
    right: 0;
    top: -9px;
    font-size: 10px;
    padding: 0 2px 0 3px;
    border-radius: 4px;
    z-index: 1;
  }
}

.thread-divider {
  text-align: center;
  width: 100%;
  padding: 4px;
  margin: 16px 0 0;
  background: rgba(var(--color-fg-rgb), 0.05);
  opacity: 0.8;
}

.special-thread-single_thread_search_results,
.special-thread-global_search_results {
  .right-pane-header,
  .compose-message-container {
    order: -1;
  }
  .right-pane-header {
    border-bottom: none !important;
  }
  .compose-message-container {
    background: var(--color-background-header-right-opaque);
    border-bottom: 1px solid var(--color-border-neutrals-weak);
    margin-top: var(--header-height);
  }
  .date {
    padding-top: 0;
    margin-top: 0;
  }
}

.inbox-zero {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.loaded {
      opacity: 1;
    }
  }

  span {
    color: var(--color-fg);
    display: flex;
    align-items: center;
    z-index: 1;
  }

  svg {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    margin-right: 6px;
  }
}

.preload-wallpaper {
  width: 0px;
  height: 0px;
  position: fixed;
  top: -999px;
  left: -999px;
}

.hint-view {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  padding-bottom: 2em;
  .cta {
    @include popover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
  }
  button {
    margin-left: 1em;
  }
}

.stealth-mode {
  margin: 0.5em auto;
  span:nth-child(2) {
    color: var(--color-primary);
  }
}

.ai-pane {
  .typing-participants-container {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.calendar-pane {
  padding-top: var(--header-height);
  max-width: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals);
  user-select: text;

  .pane-container {
    padding: 12px 12px 0;
  }

  .fc-button:not(.disabled) {
    cursor: inherit;
  }

  .fc-header-toolbar {
    display: grid;
    row-gap: 4px;
  }

  .panes {
    .fc-toolbar-title {
      padding-bottom: 4px;
      font-size: 15px;
      font-weight: normal;
    }

    .fc-toolbar-chunk {
      width: 275px;

      .fc-button-group {
        float: right;
      }
    }

    .fc-scrollgrid {
      border: 0;
      max-height: 1000px;

      &-section:nth-of-type(2) {
        display: none;
      }
    }

    .fc-timegrid {
      margin-bottom: 12px;

      &-divider {
        display: none;
      }
    }

    * .fc-timegrid-slot-label {
      border: 0;
    }

    .fc-button-primary,
    .fc-prev-button,
    .fc-next-button {
      background-color: transparent;
      color: var(--color-text-neutrals-weak);
      text-transform: uppercase;
      border: 1px solid rgba(var(--color-fg-rgb), 0.1);
      transition: all 0.25s;
      &:disabled {
        border: 1px dashed rgba(var(--color-fg-rgb), 0.1);
        // text-decoration: line-through;
      }

      &:hover:not([disabled]) {
        background: var(--color-primary-hover);
        border-color: var(--color-primary-hover);
      }
    }

    .fc-prev-button,
    .fc-next-button {
      border: 0;
    }

    .fc-theme-standard td,
    .fc-theme-standard th {
      border-color: rgba(var(--color-fg-rgb), 0.1);
    }

    .fc .fc-list-event:hover td {
      background-color: var(--color-base-gray-30);
    }

    .fc .fc-daygrid-day.fc-day-today,
    .fc-timegrid-slot-lane,
    .fc-daygrid-day {
      background-color: var(--color-base-gray-30);
    }

    .fc-timegrid-event-harness-inset .fc-timegrid-event {
      box-shadow: none !important;
    }

    .fc-v-event {
      border: 0 !important;
      border-radius: 0 !important;
      padding: 4px;

      &.fc-timegrid-event-short {
        padding: 0;
      }
    }

    .fc .fc-timegrid-now-indicator-arrow {
      display: none;
    }
  }
}
