@import "constants";
@import "mixins";

.right {
  // padding-top: var(--header-height);
  display: flex;
  flex: 1;
  height: 100%;
  background: var(--color-background-app);
  flex-direction: column;
  position: relative;
  outline: none;
  overflow: hidden;
}

.right-pane-header {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 0;
  z-index: 2;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, 0, 0);
}

.resizing-sidebar .right-pane-header {
  transition: none;
}

.pane-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  outline: 0;
  padding-top: var(--header-height);
}
.panes {
  display: flex;
  overflow: hidden;
  flex: 1;
  outline: 0;
}
.messages-list-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
}
.messages-list-scrolling-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  // height: 100%;
  .texts-icon {
    min-height: 32px;
    align-self: center;
    width: 100%;
    opacity: 0.1;
    font-size: 32px;
    margin: 64px 0 16px;
  }
  .is-virtualized & {
    display: block;
  }
}
.messages-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  margin-top: auto;
  .date {
    align-self: center;
    position: sticky;
    top: -1px;
    padding-top: 8px;
    z-index: 1;
    transition: opacity 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 8px;

    &.pinned {
      opacity: 0;
    }

    div {
      margin: 1em 0 0.5em;
    }
  }
  img,
  canvas {
    object-fit: scale-down;
  }
}

.reply-thread {
  position: absolute;
  z-index: 1;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: var(--color-background-app);
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  transition-property: visibility;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  .reply-thread-messages {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 80%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 100%, 0);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    .messages-list-wrapper {
      background: var(--color-background-app);
      box-shadow: 0px -40px 60px 0px rgba(0, 0, 0, 0.2)
    }
  }
  .reply-thread-header {
    padding: 0 10px 0 calc(1em + 3px);
    display: flex;
    align-items: center;
    background: rgba(var(--color-base-white-rgb), 0.7);
    border: 1px solid rgba(var(--color-base-gray-120-rgb), 0.05);
    border-width: 1px 0;
    backdrop-filter: blur(15px) saturate(2);
    z-index: 1;
    @media (prefers-color-scheme: dark) {
      background: rgba(var(--color-base-gray-40-rgb), 0.7);
      border-color: rgba(var(--color-base-white-rgb), 0.1);
    }
    .reduce-transparency & {
      background: var(--color-base-gray-40);
    }
  }

  .reply-thread-title {
    padding: 10px 0;
    line-height: 1.33;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: var(--color-text-translucent-weak);
    h1 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      color: var(--color-text-translucent);
    }
  }

  button {
    flex-shrink: 0;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: var(--color-base-gray-110);
    svg {
      display: block;
    }
  }

  .message-show-replies-button, .linked-message, .stealth-mode {
    // Hide some elements from Reply Thread views
    display: none;
  }

  &.is-visible {
    visibility: visible;
    &:before {
      opacity: 0.8;
    }
    .reply-thread-messages {
      transform: translate3d(0, 0, 0);
    }
  }
}

.scrolling .date.pinned {
  opacity: 1;
}

.date {
  pointer-events: none;

  div {
    background: var(--color-background-elevated);
    border-radius: 100px;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-neutrals-weak);
    border: 1px solid var(--color-border-neutrals-weak);
    white-space: nowrap;
  }
}

.sticky-date-placeholder {
  height: 60px;
}

.sticky-date-container {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.hide {
    opacity: 0;
  }
}
.sticky-date-slider {
  height: 0;
  width: 0;
  margin-top: 30px;
  left: 50%;
  background: red;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 10px;
  z-index: 1;
  visibility: visible; // Required to make this displayed inside virtua container
}

.loading-indicator {
  text-align: center;
  padding: 1em;
}
.message-timestamps.bubble-mode {
  .messages-list-wrapper .date, .texts-icon, .loading-indicator {
    padding-right: $message-timestamp-width !important;
  }
  .thread-divider {
    padding-right: $message-timestamp-width;
  }
}

.dropping {
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(var(--color-bg-rgb), 0.2);
  border: 10px dashed rgba(var(--color-fg-rgb), 0.2);
  margin: 3em 1em 0.5em;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-to-bottom {
  position: absolute;
  color: var(--color-icon-neutrals-strong);
  background: var(--color-background-elevated);
  border: 1px solid var(--color-border-neutrals);
  filter: drop-shadow(var(--shadows-base-sm));
  width: 32px;
  height: 32px;
  margin: 0.5em;
  padding: 5px;
  border-radius: 50%;
  bottom: 0;
  right: 10px;
  transition: opacity 0.15s ease-out;
  opacity: 0;
  pointer-events: none;

  &.scroll-button-visible {
    opacity: 1;
    pointer-events: all;
  }
}

.thread-info {
  padding-top: var(--header-height);
  max-width: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals);
  user-select: text;
  .participant {
    display: flex;
    margin: 1em 0;
    > div {
      display: flex;
      flex-direction: column;
    }
    .participant-img {
      margin-right: 0.5em;
      margin-top: 4px;
      min-width: 32px;
    }
    .verified-icon {
      vertical-align: middle;
      margin: 0 3px 3px;
      font-size: 12px;
    }
  }
  .cover {
    background: var(--color-background-app-weak);
    background-size: cover;
    width: 100%;
    height: 100px;
    min-height: 100px;
    margin-bottom: -48px;
  }
  .user-ids span {
    display: block;
  }
  h4 {
    color: var(--color-text-neutrals-weak);
    margin-bottom: 4px;
  }
}

.thread-info-header {
  // border-bottom: 1px rgba(var(--color-fg-rgb), .05) solid;
  padding: 0 12px 0;
  margin-bottom: 2px;
  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
  }
  h4 {
    margin: 4px 0;
  }
  img {
    width: 80px;
    height: 80px;
  }
  .tag {
    font-weight: normal;
  }
}

.thread-info-avatar {
  outline: 0;
  margin: 8px 0;

  .fs-close-icon {
    display: none;
  }

  img {
    display: block;
    cursor: zoom-in;
  }

  &.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    img {
      width: unset;
      height: unset;
      max-width: 98vw;
      max-height: 98vh;
      cursor: zoom-out;
      border-radius: 0;
    }

    .fs-close-icon {
      display: initial;
      width: 32px;
      height: 32px;
      color: white;
      position: absolute;
      right: 18px;
      top: 18px;
    }
  }
}

.thread-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  .edit-button {
    padding: 0;
    background-color: transparent;
    color: var(--color-fg);
  }
}
.thread-participants {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.editable-contact-name {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 8px;
  }
}
.contact-edit-buttons {
  display: flex;

  button {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .button-cancel {
    background-color: transparent;
    color: var(--color-fg);
    padding: 2px 4px;
  }
}

.thread-info-body {
  padding: 0 12px;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.alt-account-thread {
  img {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 2px;
  }
  margin: 6px 0;
}

.thread-desc {
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 1em;
}
.location {
  margin-bottom: 1em;
}
.thread-note {
  margin: 1em 0;
  textarea {
    width: 100%;
  }
}
.location svg {
  vertical-align: text-bottom;
}
.website {
  word-break: break-word;
}
.website svg {
  font-size: 8px;
  opacity: 0.8;
}

.add-contact {
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 5px;
  }
}
.add-to-existing-contact {
  padding-top: 6px;
  button {
    width: 100%;
  }
}
.thread-group .add-contact {
  input,
  button {
    padding: 4px 8px;
  }
}

.phone {
  span {
    margin: 0 4px;
  }
  display: flex;
}

.contact-pane {
  .social-profiles svg {
    font-size: 16px;
    vertical-align: middle;
    margin: 4px 4px 4px 0;
  }
  > div > div {
    margin: 0 0 2px;
  }
  .group {
    margin: 1em 0;
  }
}

.unread-divider {
  // outline instead of border to not shift other elements when hidden
  outline: 0.5px solid var(--color-primary);
  position: relative;
  cursor: default;
  width: 100%;
  right: 4px;
  span {
    background: var(--color-primary);
    color: white;
    position: absolute;
    right: 0;
    top: -9px;
    font-size: 10px;
    padding: 0 2px 0 3px;
    border-radius: 4px;
    z-index: 1;
  }
}

.thread-divider {
  text-align: center;
  width: 100%;
  padding: 4px;
  margin: 16px 0 0;
  background: rgba(var(--color-fg-rgb), 0.05);
  opacity: 0.8;
}

.special-thread-single_thread_search_results,
.special-thread-global_search_results {
  .right-pane-header,
  .compose-message-container {
    order: -1;
  }
  .right-pane-header {
    border-bottom: none !important;
  }
  .compose-message-container {
    background: var(--color-background-header-right-opaque);
    border-bottom: 1px solid var(--color-border-neutrals-weak);
  }
  .date {
    padding-top: 0;
    margin-top: 0;
  }
}

.inbox-zero {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.loaded {
      opacity: 1;
    }
  }

  span {
    color: var(--color-fg);
    display: flex;
    align-items: center;
    z-index: 1;
  }

  svg {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    margin-right: 6px;
  }
}

.preload-wallpaper {
  width: 0px;
  height: 0px;
  position: fixed;
  top: -999px;
  left: -999px;
}

.hint-view {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  padding-bottom: 2em;
  .cta {
    @include popover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
  }
  button {
    margin-left: 1em;
  }
}

.bottom-of-thread {
  padding: 0.5em 0;
}

.stealth-mode {
  margin: 0 auto;
  display:flex;
  justify-content: center;
  span {
    margin: 0 0.5em;
  }
  .tooltip-wrapper {
    color: var(--color-primary);
  }
}

.ai-pane {
  .typing-participants-container {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .messages-list-scrolling-container {
    padding-bottom: 8px;
  }
}

.calendar-pane {
  padding: calc(var(--header-height) + 12px) 12px 0;
  max-width: 300px;
  overflow-y: auto;
  display: flex;
  background: var(--color-background-app);
  border-left: 1px solid var(--color-border-neutrals);
  user-select: text;

  .fc-button:not(.disabled) {
    cursor: inherit;
  }

  .fc-header-toolbar {
    display: grid;
    row-gap: 4px;
  }

  .fc { // Add extra specificity to override library styles
    .fc-toolbar-title {
      padding-bottom: 4px;
      font-size: 15px;
      font-weight: normal;
    }

    .fc-toolbar-chunk {
      width: 275px;

      .fc-button-group {
        float: right;
      }
    }

    .fc-scrollgrid {
      border: 0;
      max-height: 1000px;

      &-section:nth-of-type(2) {
        display: none;
      }
    }

    .fc-timegrid {
      margin-bottom: 12px;

      &-divider {
        display: none;
      }
    }

    * .fc-timegrid-slot-label {
      border: 0;
    }

    .fc-button-primary,
    .fc-prev-button,
    .fc-next-button {
      background-color: transparent;
      color: var(--color-text-neutrals-weak);
      text-transform: uppercase;
      border: 1px solid rgba(var(--color-fg-rgb), 0.1);
      transition: all 0.25s;
      &:disabled {
        border: 1px dashed rgba(var(--color-fg-rgb), 0.1);
        // text-decoration: line-through;
      }

      &:hover:not([disabled]) {
        background: var(--color-primary-hover);
        border-color: var(--color-primary-hover);
      }
    }

    .fc-prev-button,
    .fc-next-button {
      border: 0;
    }

    .fc-theme-standard td,
    .fc-theme-standard th {
      border-color: rgba(var(--color-fg-rgb), 0.1);
    }

    .fc .fc-list-event:hover td {
      background-color: var(--color-base-gray-30);
    }

    .fc .fc-daygrid-day.fc-day-today,
    .fc-timegrid-slot-lane,
    .fc-daygrid-day {
      background-color: var(--color-base-gray-30);
    }

    .fc-timegrid-event-harness-inset .fc-timegrid-event {
      box-shadow: none !important;
    }

    .fc-v-event {
      border: 0 !important;
      border-radius: 0 !important;
      padding: 4px;

      &.fc-timegrid-event-short {
        padding: 0;
      }
    }

    .fc .fc-timegrid-now-indicator-arrow {
      display: none;
    }
  }
}

.authorize-contacts-prompt {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(var(--color-fg-rgb), 0.1);
  background: rgba(var(--color-fg-rgb), 0.05);
  align-self: flex-end;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1em;
  cursor: default;
  .icon {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 8px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      width: 32px;
      object-fit: contain;
    }

    .front {
      animation: contactFrontUserIcon 0.5s cubic-bezier(0, 0, 0.13, 1) forwards;
    }

    .back {
      animation: contactBackUserIcon 0.5s cubic-bezier(0, 0, 0.13, 1) forwards;
    }
  }
  p {
    color: var(--color-text-neutrals-weak);
    opacity: 0;
    animation: onboardingFadeIn 0.5s cubic-bezier(0, 0, 0.13, 1) forwards;
    flex: 1;
    margin: 0 8px;
    span {
      color: var(--color-text-neutrals);
    }
  }
}
