:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", sans-serif;

  --header-height: 48px;
  --filters-pane-width: 220px;
  --min-sidebar-width: 280px;
  --max-sidebar-width: 800px;
  --threads-list-item-height: 54px;

  --pinned-thread-base-size: 64px;
  --pinned-thread-group-img-size: calc(var(--pinned-thread-base-size) / 1.5);
  --pinned-thread-height: calc(
    var(--pinned-thread-base-size) + (var(--pinned-thread-base-size) / 1.4)
  );
  --pinned-thread-width: calc(
    var(--pinned-thread-base-size) + (var(--pinned-thread-base-size) / 2.5)
  );

  --twitter-color: rgb(29, 161, 242);
  --twitter-color-rgb: 29, 161, 242;

  --error-color: #f44336;
  --warning-color: rgb(255, 152, 0);

  --color-bg: white;
  --color-bg-rgb: 255, 255, 255;
  --color-fg: black;
  --color-fg-rgb: 0, 0, 0;

  --color-primary: rgb(0, 122, 255);
  --color-primary-rgb: 0, 122, 255;

  // --color-gray: #787d87;
  --color-gray-rgb: 120, 125, 135;
  // --color-gray-alt: red;
  // --color-gray-alt-rgb: 255, 0, 0;

  // --color-button-bg: rgba(var(--color-primary-rgb), 0.1);
  // --color-button-fg: var(--color-primary);

  // --app-status-bg: rgba(var(--color-fg-rgb), 0.1);
  // --app-status-fg: var(--color-fg);

  --mark-bg: rgb(255, 235, 59);

  // --message-bg: rgba(128, 128, 128, 0.1);
  // --message-selected-bg: rgba(128, 128, 128, 0.1);
  // --message-sent-bg: var(--color-primary);
  // --message-sent-fg: white;

  --snoozed-indicator-bg: rgb(255, 152, 0);
  --error-indicator-bg: var(--error-color);
  // --message-snoozed-bg: transparent;
  --message-snoozed-border: rgb(255, 152, 0);

  // --muted-color: gray;

  // --message-pending-beacon: var(--color-background-object);
  --message-errored-beacon: var(--error-color);

  --sms-sent-bg: rgb(76, 175, 80);

  // --compose-textarea-bg: var(--color-bg);
  // --compose-textarea-fg: var(--color-fg);

  // --thread-selected-bg: var(--color-primary);
  // --thread-selected-fg: white;

  // --right-pane-header-bg: rgba(var(--color-bg-rgb), .8);
  // --messages-list-bg: rgba(var(--color-bg-rgb), .8);
  // --compose-message-bg: rgba(var(--color-bg-rgb), .8);

  --left-pane-bg: transparent;
  --right-pane-bg: rgba(var(--color-bg-rgb), 1);

  // --modal-container-bg: rgba(0, 0, 0, 0.5);
  // --modal-bg: rgba(var(--color-bg-rgb), 0.9);

  // --command-bar-bg: rgba(234, 235, 236, 0.85);
  // --command-bar-border: rgba(102, 102, 102, 0.25);
  // --command-bar-shadow: 0 12px 50px rgba(0, 0, 0, 0.25);

  --compose-message-accent: #7f7f7f;
  --audio-bar-button: #8f939e;
  --audio-bar-preview-progress: #84888e;
  --audio-bar-bg: #f1f4f8;
  --audio-bar-border: #e3e9f2;

  // --color-onboarding-bg: #eaeaec;
  // --color-onboarding-progress-border: #f8f9fa;

  --key-border: #c4c4c4;
  --key-bg: linear-gradient(to bottom, #e8e8e8, #d8d8d8);
  --color-key-bottom-bg: #c4c4c4;

  --prefs-well: rgba(0, 0, 0, 0.02);
  // --prefs-border: rgba(var(--color-fg-rgb), 0.1);

  --skeleton-bg: url("../../../public/img/skeleton.svg");
}

.no-transparency,
.reduce-transparency {
  --left-pane-bg: var(--color-background-sidebar-opaque);
}
// .window-unfocused {
//   // --thread-selected-bg: rgba(var(--color-fg-rgb), 0.2);
//   // --thread-selected-fg: initial;
// }

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #252830;
    --color-bg-rgb: 37, 40, 48;
    --color-fg: white;
    --color-fg-rgb: 255, 255, 255;

    --color-primary: #0a84ff;
    --color-primary-rgb: 10, 132, 255;

    // --color-gray-alt: red;
    // --color-gray-alt-rgb: 255, 0, 0;

    // --color-button-bg: rgba(var(--color-primary-rgb), 0.2);
    // --color-button-fg: var(--color-primary);

    // --compose-textarea-bg: rgba(var(--color-bg-rgb), 0.7);

    // --message-bg: rgba(128, 128, 128, 0.2);

    // --right-pane-bg: transparent;
    // --compose-message-bg: transparent;

    --compose-message-accent: #d8d8d8;
    --audio-bar-button: #d8d8d8;
    --audio-bar-preview-progress: #ffffff;
    --audio-bar-bg: #303236;
    --audio-bar-border: #606366;

    // --command-bar-bg: rgba(var(--color-bg-rgb), 0.92);
    // --command-bar-border: rgba(102, 102, 102, 0.5);
    // --command-bar-shadow: 0 12px 50px rgba(0, 0, 0, 0.75);

    // --color-onboarding-bg: #202021;
    // --color-onboarding-progress-border: #333333;

    --key-border: linear-gradient(to bottom, #363636, #303130);
    --key-bg: linear-gradient(to bottom, #373737, #1b1b1b);
    --color-key-bottom-bg: #2e2e2e;

    --prefs-well: rgb(9, 9, 9);
  }
}
