.skeleton {
  display: block;
  border-radius: 5px;
}

.skeleton.loaded {
  width: unset !important;
}

.skeleton:not(.wrapper):not(.show) {
  display: none;
}

.wrapper:not(.show)::before {
  content: none;
}

.skeleton:not(.wrapper):not(.loaded) {
  border-radius: 5px;
  background: var(--skeleton-bg);
}

.wrapper {
  display: block;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  z-index: 100;
  background: var(--skeleton-bg);
}

.inline {
  display: inline-block !important;
}

.squared,
.squared.wrapper::before {
  border-radius: 0 !important;
}

.rounded,
.rounded.wrapper::before {
  border-radius: 50% !important;
}
