.toasts-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
  pointer-events: none;

  &.position-top-left {
    left: 0;
    top: 3rem;
  }

  &.position-top-center {
    top: 3rem;
    width: 100%;
    align-items: center;
  }

  &.position-top-right {
    right: 0;
    top: 3rem;
  }

  &.position-bottom-left {
    left: 0;
    bottom: 0.5rem;
  }

  &.position-bottom-center {
    bottom: 0.5rem;
    width: 100%;
    align-items: center;
  }

  &.position-bottom-right {
    right: 0;
    bottom: 0.5rem;
  }
}
.toast {
  display: flex;
  max-width: 50vw;
  align-items: center;
  background: rgba(black, 0.9);
  margin: 3px 12px;
  padding: 6px 12px;
  box-shadow: 0 4px 16px rgba(black, 0.1);
  border-radius: 6px;
  color: white;
  white-space: pre-wrap;
  word-break: break-word;
  pointer-events: auto;

  &:hover {
    box-shadow: 0 4px 32px 8px rgba(black, 0.1);
  }
  button {
    background: none;
    border: none;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 6px;
    opacity: 0.7;
    white-space: nowrap;
    &:hover {
      opacity: 1;
    }
  }
  svg {
    min-width: 1em;
    margin-left: 0.5em;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
