@mixin blurred-bg {
  background-color: rgba(var(--color-bg-rgb), 0.6);
  backdrop-filter: blur(4px);
}

.video-player {
  display: block;
  text-align: center;
  margin: 0;

  .video-main {
    margin: 0 auto;
    min-width: 128px;
    max-width: 50vw;
    position: relative;
  }

  .video {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .video-container {
    display: flex;
    justify-content: center;
  }

  .video-controls-upper {
    position: absolute;
    @include blurred-bg;
    top: 10px;
    right: 10px;
    height: 24px;
    border-radius: 50px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 8px;
    transition: all 0.2s cubic-bezier(0.25, 0.57, 0.45, 0.94);
    transform: translate3d(0px, -5px, 0px);
    opacity: 0;
    pointer-events: none;
    color: var(--color-fg);

    button {
      display: flex;
    }
  }

  .video-controls {
    position: absolute;
    bottom: 5%;
    left: 50%;
    @include blurred-bg;
    height: 24px;
    border-radius: 50px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 95%;
    transition: all 0.2s cubic-bezier(0.25, 0.57, 0.45, 0.94);
    transform: translate3d(-50%, 5px, 0px) scale(0.95);
    opacity: 0;
    pointer-events: none;
    color: var(--color-fg);
  }

  .controls-visible .video-controls {
    transform: translate3d(-50%, 0px, 0px) scale(1);
    opacity: 1;
    pointer-events: all;
  }

  .controls-visible .video-controls-upper {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    pointer-events: all;
  }

  .video-button {
    width: 14px;
    height: 14px;
    color: var(--fg-color);
  }

  .play-button {
    background: transparent;
    border: 0;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    flex: 0 0 24px;
    padding: 0;
  }

  .video-progress {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    input {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .video-controls progress {
    background-color: transparent;
    height: 3px;
    width: 100%;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    pointer-events: none;
  }

  .video-controls progress[value]::-webkit-progress-bar {
    background-color: transparent;
  }

  .video-controls progress[value]::-webkit-progress-value {
    background-color: var(--color-fg);
  }

  .video-controls progress.progress-buffer::-webkit-progress-bar {
    background-color: var(--color-background-app-weak);
  }

  .video-controls progress.progress-buffer::-webkit-progress-value {
    background-color: rgba(var(--color-fg-rgb), 0.5);
  }

  .video-controls .video-progress .video-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-fg);
    transform: translateX(-4px) translateY(1px);
    transition: width 0.1s ease, height 0.1s ease, border-radius 0.1s ease,
      transform 0.1s ease, background-color 0.1s ease;
    top: calc(50% - 6px);
    pointer-events: none;
  }

  .video-controls .video-time {
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 2px;
    flex: 0 0 auto;
    width: 48px;
  }

  .video-button-wrapper {
    color: var(--color-fg);
    background: transparent;
    border: 0;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    flex: 0 0 24px;
    padding: 0;
  }

  .video-drag-handler {
    width: 100%;
    height: 18px;
    background: transparent;
  }

  .is-portrait:not(.fullscreen) {
    .video-time,
    .video-progress {
      display: none;
    }
    .video-controls {
      width: 128px;
    }
  }

  .fullscreen .video-controls-upper {
    top: 25px;
  }
}

.attachment-carousel .video-container:not(.fullscreen) .video {
  max-height: 90vh;
  max-width: calc(100vw - 100px); // Keep space on sides for next/prev arrows
}

.attachment-carousel .video-main {
  max-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    z-index: 1;
  }

  .video-controls,
  .video-controls-upper {
    z-index: 2;
  }
}

.fullscreen .video {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
}

.playback-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  position: relative;
  z-index: 50;
}

.playback-controls {
  min-width: 60px;
  background: var(--color-bg);
  backdrop-filter: blur(4px);
  pointer-events: none;
  opacity: 0;
  border-radius: 6px;
  position: absolute;
  bottom: 20px;
  padding: 6px;
  font-size: 12px;
  transform: translateY(5px) scale(0.95);
  transition: all 0.1s cubic-bezier(0.25, 0.57, 0.45, 0.94);
}

.playback-controls-expanded .playback-controls {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px) scale(1);
}

.playback-speed {
  min-width: 80px;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;

  &.active {
    font-weight: 800;
  }
}

.video-error {
  min-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-bg);
  border: 1px solid rgba(var(--color-fg-rgb), 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: default;

  span {
    margin-top: 1em;
    font-weight: 600;
  }

  button {
    margin-top: 10px;
    font-weight: 600;
    border: 1px solid rgba(var(--color-fg-rgb), 0.5);
    padding: 4px 10px;
    border-radius: 99px;
    background: transparent;
  }
}
