:root {
  --color-base-gray-dark-10: rgb(22, 22, 22);
  --color-base-gray-dark-10-rgb: 22, 22, 22;
  --color-base-gray-dark-20: rgb(28, 28, 28);
  --color-base-gray-dark-20-rgb: 28, 28, 28;
  --color-base-gray-dark-30: rgb(35, 35, 35);
  --color-base-gray-dark-30-rgb: 35, 35, 35;
  --color-base-gray-dark-40: rgb(40, 40, 40);
  --color-base-gray-dark-40-rgb: 40, 40, 40;
  --color-base-gray-dark-50: rgb(46, 46, 46);
  --color-base-gray-dark-50-rgb: 46, 46, 46;
  --color-base-gray-dark-60: rgb(52, 52, 52);
  --color-base-gray-dark-60-rgb: 52, 52, 52;
  --color-base-gray-dark-70: rgb(62, 62, 62);
  --color-base-gray-dark-70-rgb: 62, 62, 62;
  --color-base-gray-dark-80: rgb(80, 80, 80);
  --color-base-gray-dark-80-rgb: 80, 80, 80;
  --color-base-gray-dark-85: rgb(94, 94, 94);
  --color-base-gray-dark-85-rgb: 94, 94, 94;
  --color-base-gray-dark-90: rgb(112, 112, 112);
  --color-base-gray-dark-90-rgb: 112, 112, 112;
  --color-base-gray-dark-100: rgb(126, 126, 126);
  --color-base-gray-dark-100-rgb: 126, 126, 126;
  --color-base-gray-dark-110: rgb(173, 173, 173);
  --color-base-gray-dark-110-rgb: 173, 173, 173;
  --color-base-gray-dark-120: rgb(237, 237, 237);
  --color-base-gray-dark-120-rgb: 237, 237, 237;
  --color-base-gray-light-10: rgb(252, 252, 252);
  --color-base-gray-light-10-rgb: 252, 252, 252;
  --color-base-gray-light-20: rgb(248, 248, 248);
  --color-base-gray-light-20-rgb: 248, 248, 248;
  --color-base-gray-light-30: rgb(243, 243, 243);
  --color-base-gray-light-30-rgb: 243, 243, 243;
  --color-base-gray-light-40: rgb(237, 237, 237);
  --color-base-gray-light-40-rgb: 237, 237, 237;
  --color-base-gray-light-50: rgb(232, 232, 232);
  --color-base-gray-light-50-rgb: 232, 232, 232;
  --color-base-gray-light-60: rgb(226, 226, 226);
  --color-base-gray-light-60-rgb: 226, 226, 226;
  --color-base-gray-light-70: rgb(219, 219, 219);
  --color-base-gray-light-70-rgb: 219, 219, 219;
  --color-base-gray-light-80: rgb(199, 199, 199);
  --color-base-gray-light-80-rgb: 199, 199, 199;
  --color-base-gray-light-85: rgb(171, 171, 171);
  --color-base-gray-light-85-rgb: 171, 171, 171;
  --color-base-gray-light-90: rgb(143, 143, 143);
  --color-base-gray-light-90-rgb: 143, 143, 143;
  --color-base-gray-light-100: rgb(133, 133, 133);
  --color-base-gray-light-100-rgb: 133, 133, 133;
  --color-base-gray-light-110: rgb(89, 89, 89);
  --color-base-gray-light-110-rgb: 89, 89, 89;
  --color-base-gray-light-120: rgb(23, 23, 23);
  --color-base-gray-light-120-rgb: 23, 23, 23;
  --color-background-tooltip: var(--color-base-gray-dark-50);
  --color-background-tooltip-hotkey: var(--color-base-gray-dark-80);
  --color-base-black: rgb(0, 0, 0);
  --color-base-black-rgb: 0, 0, 0;
  --color-base-white: rgb(255, 255, 255);
  --color-base-white-rgb: 255, 255, 255;
  --color-border-tooltip: var(--color-base-gray-dark-70);
  --color-icon-on-accent: rgba(var(--color-base-white-rgb), 0.75);
  --color-icon-on-accent-strong: rgba(var(--color-base-white-rgb), 0.9);
  --color-icon-on-accent-weak: rgba(var(--color-base-white-rgb), 0.4);
  --color-overlay-modal: rgba(var(--color-base-black-rgb), 0.4);
  --color-text-on-accent: var(--color-base-white);
  --color-text-on-accent-weak: rgba(var(--color-base-white-rgb), 0.7);
  --color-text-tooltip: var(--color-base-white);
  --color-transparent: rgba(var(--color-base-black-rgb), 0);

  --color-base-gray-10: rgb(252, 252, 252);
  --color-base-gray-10-rgb: 252, 252, 252;
  --color-base-gray-20: rgb(248, 248, 248);
  --color-base-gray-20-rgb: 248, 248, 248;
  --color-base-gray-30: rgb(243, 243, 243);
  --color-base-gray-30-rgb: 243, 243, 243;
  --color-base-gray-40: rgb(237, 237, 237);
  --color-base-gray-40-rgb: 237, 237, 237;
  --color-base-gray-50: rgb(232, 232, 232);
  --color-base-gray-50-rgb: 232, 232, 232;
  --color-base-gray-60: rgb(226, 226, 226);
  --color-base-gray-60-rgb: 226, 226, 226;
  --color-base-gray-70: rgb(219, 219, 219);
  --color-base-gray-70-rgb: 219, 219, 219;
  --color-base-gray-80: rgb(199, 199, 199);
  --color-base-gray-80-rgb: 199, 199, 199;
  --color-base-gray-85: rgb(171, 171, 171);
  --color-base-gray-85-rgb: 171, 171, 171;
  --color-base-gray-90: rgb(143, 143, 143);
  --color-base-gray-90-rgb: 143, 143, 143;
  --color-base-gray-100: rgb(133, 133, 133);
  --color-base-gray-100-rgb: 133, 133, 133;
  --color-base-gray-110: rgb(89, 89, 89);
  --color-base-gray-110-rgb: 89, 89, 89;
  --color-base-gray-120: rgb(23, 23, 23);
  --color-base-gray-120-rgb: 23, 23, 23;
  --color-base-system-blue-80: rgb(76, 162, 255);
  --color-base-system-blue-80-rgb: 76, 162, 255;
  --color-base-system-blue-90: rgb(0, 122, 255);
  --color-base-system-blue-90-rgb: 0, 122, 255;
  --color-base-system-blue-100: rgb(0, 115, 240);
  --color-base-system-blue-100-rgb: 0, 115, 240;
  --color-base-system-blue-110: rgb(0, 105, 219);
  --color-base-system-blue-110-rgb: 0, 105, 219;
  --color-background-app: var(--color-base-white);
  --color-background-app-weak: var(--color-base-gray-20);
  --color-background-button-ghost-active: var(
    --color-background-button-translucent-active
  );
  --color-background-button-ghost-hover: var(
    --color-background-button-translucent
  );
  --color-background-button-primary: var(--color-base-system-blue-90);
  --color-background-button-primary-active: var(--color-base-system-blue-100);
  --color-background-button-primary-disabled: var(--color-base-system-blue-80);
  --color-background-button-secondary: var(--color-base-white);
  --color-background-button-secondary-active: var(--color-base-gray-20);
  --color-background-button-secondary-disabled: var(--color-base-white);
  --color-background-button-translucent: rgba(var(--color-base-black-rgb), 0.1);
  --color-background-button-translucent-active: rgba(
    var(--color-base-black-rgb),
    0.15
  );
  --color-background-button-translucent-disabled: rgba(
    var(--color-base-black-rgb),
    0.05
  );
  --color-background-commandbar: rgba(var(--color-base-gray-40-rgb), 0.85);
  --color-background-commandbar-command-highlighted: rgba(
    var(--color-base-black-rgb),
    0.1
  );
  --color-background-commandbar-mode: rgba(var(--color-base-white-rgb), 0.3);
  --color-background-commandbar-opaque: var(--color-base-white);
  --color-background-elevated: var(--color-base-white);
  --color-background-elevated-hover: var(--color-base-gray-40);
  --color-background-grouped: var(--color-base-white);
  --color-background-grouped-weak: var(--color-base-gray-30);
  --color-background-header-right: rgba(var(--color-base-white-rgb), 0.9);
  --color-background-input: var(--color-base-gray-20);
  --color-background-kbd: rgba(var(--color-base-black-rgb), 0.15);
  --color-background-menu: rgba(var(--color-base-gray-40-rgb), 0.9);
  --color-background-menu-badge: rgba(var(--color-base-black-rgb), 0.1);
  --color-background-menu-opaque: var(--color-base-gray-40);
  --color-background-menu-option-hover: var(--color-base-system-blue-90);
  --color-background-message-active: var(--color-base-gray-20);
  --color-background-message-beacon-pending: var(--color-base-gray-80);
  --color-background-message-bubble-linked: var(--color-background-app);
  --color-background-message-bubble-received: var(--color-base-gray-40);
  --color-background-message-bubble-sent: var(--color-base-system-blue-90);
  --color-background-object: var(--color-base-gray-30);
  --color-background-preferences-option-hover: rgba(
    var(--color-base-black-rgb),
    0.1
  );
  --color-background-preferences-option-selected: var(
    --color-background-selected-primary
  );
  --color-background-scrollbar: rgba(var(--color-base-black-rgb), 0.3);
  --color-background-scrollbar-hover: rgba(var(--color-base-black-rgb), 0.5);
  --color-background-segmentedcontrol: var(--color-base-gray-30);
  --color-background-select: var(--color-base-white);
  --color-background-select-active: var(--color-base-gray-20);
  --color-background-select-disabled: var(--color-base-white);
  --color-background-selected-primary: var(--color-base-system-blue-90);
  --color-background-selected-secondary: rgba(var(--color-base-black-rgb), 0.1);
  --color-background-sidebar-filter-selected: var(
    --color-background-selected-secondary
  );
  --color-background-sidebar-opaque: var(--color-base-gray-30);
  --color-background-sidebar-thread-focus: rgba(
    var(--color-base-black-rgb),
    0.1
  );
  --color-background-sidebar-thread-selected: var(
    --color-background-selected-primary
  );
  --color-background-sidebar-thread-selected-unfocused: rgba(
    var(--color-base-black-rgb),
    0.15
  );
  --color-background-tag: rgba(var(--color-base-black-rgb), 0.1);
  --color-border-button-secondary: var(--color-base-gray-60);
  --color-border-button-secondary-active: var(--color-base-gray-50);
  --color-border-button-secondary-disabled: var(--color-base-gray-40);
  --color-border-button-secondary-focus: var(
    --color-background-button-secondary
  );
  --color-border-input: var(--color-base-gray-60);
  --color-border-input-active: var(--color-base-gray-80);
  --color-border-message-bubble-suggested: var(--color-base-system-blue-90);
  --color-border-neutrals: var(--color-base-gray-60);
  --color-border-neutrals-strong: var(--color-base-gray-70);
  --color-border-neutrals-weak: var(--color-base-gray-40);
  --color-border-select: var(--color-base-gray-60);
  --color-border-select-disabled: var(--color-base-gray-40);
  --color-border-translucent: rgba(var(--color-base-black-rgb), 0.1);
  --color-border-translucent-strong: rgba(var(--color-base-black-rgb), 0.15);
  --color-border-translucent-strongest: rgba(var(--color-base-black-rgb), 0.5);
  --color-border-translucent-weak: rgba(var(--color-base-black-rgb), 0.05);
  --color-icon-neutrals: var(--color-base-gray-110);
  --color-icon-neutrals-strong: var(--color-base-gray-120);
  --color-icon-neutrals-subtle: var(--color-base-gray-80);
  --color-icon-neutrals-weak: var(--color-base-gray-100);
  --color-icon-translucent: rgba(var(--color-base-black-rgb), 0.6);
  --color-icon-translucent-strong: rgba(var(--color-base-black-rgb), 0.9);
  --color-icon-translucent-subtle: rgba(var(--color-base-black-rgb), 0.3);
  --color-icon-translucent-weak: rgba(var(--color-base-black-rgb), 0.4);
  --color-text-button-secondary: var(--color-base-gray-120);
  --color-text-button-secondary-disabled: var(--color-base-gray-100);
  --color-text-info: var(--color-base-system-blue-90);
  --color-text-message-bubble-suggested: var(--color-text-info);
  --color-text-neutrals: var(--color-base-gray-120);
  --color-text-neutrals-subtle: var(--color-base-gray-100);
  --color-text-neutrals-weak: var(--color-base-gray-110);
  --color-text-select: var(--color-base-gray-120);
  --color-text-select-disabled: var(--color-base-gray-100);
  --color-text-translucent: rgba(var(--color-base-black-rgb), 0.9);
  --color-text-translucent-subtle: rgba(var(--color-base-black-rgb), 0.5);
  --color-text-translucent-weak: rgba(var(--color-base-black-rgb), 0.7);
}
:root {
  @media (prefers-color-scheme: dark) {
    --color-base-gray-10: rgb(22, 22, 22);
    --color-base-gray-10-rgb: 22, 22, 22;
    --color-base-gray-20: rgb(28, 28, 28);
    --color-base-gray-20-rgb: 28, 28, 28;
    --color-base-gray-30: rgb(35, 35, 35);
    --color-base-gray-30-rgb: 35, 35, 35;
    --color-base-gray-40: rgb(40, 40, 40);
    --color-base-gray-40-rgb: 40, 40, 40;
    --color-base-gray-50: rgb(46, 46, 46);
    --color-base-gray-50-rgb: 46, 46, 46;
    --color-base-gray-60: rgb(52, 52, 52);
    --color-base-gray-60-rgb: 52, 52, 52;
    --color-base-gray-70: rgb(62, 62, 62);
    --color-base-gray-70-rgb: 62, 62, 62;
    --color-base-gray-80: rgb(80, 80, 80);
    --color-base-gray-80-rgb: 80, 80, 80;
    --color-base-gray-85: rgb(94, 94, 94);
    --color-base-gray-85-rgb: 94, 94, 94;
    --color-base-gray-90: rgb(112, 112, 112);
    --color-base-gray-90-rgb: 112, 112, 112;
    --color-base-gray-100: rgb(126, 126, 126);
    --color-base-gray-100-rgb: 126, 126, 126;
    --color-base-gray-110: rgb(173, 173, 173);
    --color-base-gray-110-rgb: 173, 173, 173;
    --color-base-gray-120: rgb(237, 237, 237);
    --color-base-gray-120-rgb: 237, 237, 237;
    --color-base-system-blue-80: rgb(0, 91, 184);
    --color-base-system-blue-80-rgb: 0, 91, 184;
    --color-base-system-blue-90: rgb(10, 132, 255);
    --color-base-system-blue-90-rgb: 10, 132, 255;
    --color-base-system-blue-100: rgb(66, 160, 255);
    --color-base-system-blue-100-rgb: 66, 160, 255;
    --color-base-system-blue-110: rgb(92, 173, 255);
    --color-base-system-blue-110-rgb: 92, 173, 255;
    --color-background-app: var(--color-base-gray-10);
    --color-background-app-weak: var(--color-base-gray-20);
    --color-background-button-ghost-active: var(
      --color-background-button-translucent-active
    );
    --color-background-button-ghost-hover: var(
      --color-background-button-translucent
    );
    --color-background-button-primary: var(--color-base-system-blue-90);
    --color-background-button-primary-active: var(--color-base-system-blue-100);
    --color-background-button-primary-disabled: var(
      --color-base-system-blue-80
    );
    --color-background-button-secondary: var(--color-base-gray-80);
    --color-background-button-secondary-active: var(--color-base-gray-90);
    --color-background-button-secondary-disabled: var(--color-base-gray-70);
    --color-background-button-translucent: rgba(
      var(--color-base-white-rgb),
      0.1
    );
    --color-background-button-translucent-active: rgba(
      var(--color-base-white-rgb),
      0.15
    );
    --color-background-button-translucent-disabled: rgba(
      var(--color-base-white-rgb),
      0.05
    );
    --color-background-commandbar: rgba(var(--color-base-gray-20-rgb), 0.85);
    --color-background-commandbar-command-highlighted: rgba(
      var(--color-base-white-rgb),
      0.1
    );
    --color-background-commandbar-mode: rgba(var(--color-base-white-rgb), 0.1);
    --color-background-commandbar-opaque: var(--color-base-gray-20);
    --color-background-elevated: var(--color-base-gray-30);
    --color-background-elevated-hover: var(--color-base-gray-50);
    --color-background-grouped: var(--color-base-gray-30);
    --color-background-grouped-weak: var(--color-base-gray-10);
    --color-background-header-right: rgba(var(--color-base-gray-10-rgb), 0.9);
    --color-background-input: var(--color-base-gray-10);
    --color-background-kbd: rgba(var(--color-base-white-rgb), 0.15);
    --color-background-menu: rgba(var(--color-base-gray-30-rgb), 0.9);
    --color-background-menu-badge: rgba(var(--color-base-white-rgb), 0.1);
    --color-background-menu-opaque: var(--color-base-gray-30);
    --color-background-menu-option-hover: var(--color-base-system-blue-80);
    --color-background-message-active: var(--color-base-gray-20);
    --color-background-message-beacon-pending: var(--color-base-gray-80);
    --color-background-message-bubble-linked: var(--color-base-gray-20);
    --color-background-message-bubble-received: var(--color-base-gray-40);
    --color-background-message-bubble-sent: var(--color-base-system-blue-90);
    --color-background-object: var(--color-base-gray-30);
    --color-background-preferences-option-hover: rgba(
      var(--color-base-white-rgb),
      0.1
    );
    --color-background-preferences-option-selected: var(
      --color-background-selected-primary
    );
    --color-background-scrollbar: rgba(var(--color-base-white-rgb), 0.3);
    --color-background-scrollbar-hover: rgba(var(--color-base-white-rgb), 0.5);
    --color-background-segmentedcontrol: var(--color-base-gray-30);
    --color-background-select: var(--color-base-gray-80);
    --color-background-select-active: var(--color-base-gray-90);
    --color-background-select-disabled: var(--color-base-gray-70);
    --color-background-selected-primary: var(--color-base-system-blue-90);
    --color-background-selected-secondary: rgba(
      var(--color-base-white-rgb),
      0.1
    );
    --color-background-sidebar-filter-selected: var(
      --color-background-selected-secondary
    );
    --color-background-sidebar-opaque: var(--color-base-gray-30);
    --color-background-sidebar-thread-focus: rgba(
      var(--color-base-white-rgb),
      0.1
    );
    --color-background-sidebar-thread-selected: var(
      --color-background-selected-primary
    );
    --color-background-sidebar-thread-selected-unfocused: rgba(
      var(--color-base-white-rgb),
      0.15
    );
    --color-background-tag: rgba(var(--color-base-white-rgb), 0.1);
    --color-border-button-secondary: var(--color-base-gray-85);
    --color-border-button-secondary-active: var(
      --color-background-button-secondary-active
    );
    --color-border-button-secondary-disabled: var(--color-transparent);
    --color-border-button-secondary-focus: var(--color-transparent);
    --color-border-input: var(--color-base-gray-60);
    --color-border-input-active: var(--color-base-gray-80);
    --color-border-message-bubble-suggested: var(--color-base-system-blue-100);
    --color-border-neutrals: var(--color-base-gray-60);
    --color-border-neutrals-strong: var(--color-base-gray-70);
    --color-border-neutrals-weak: var(--color-base-gray-40);
    --color-border-select: var(--color-transparent);
    --color-border-select-disabled: var(--color-transparent);
    --color-border-translucent: rgba(var(--color-base-white-rgb), 0.1);
    --color-border-translucent-strong: rgba(var(--color-base-white-rgb), 0.15);
    --color-border-translucent-strongest: rgba(
      var(--color-base-white-rgb),
      0.5
    );
    --color-border-translucent-weak: rgba(var(--color-base-white-rgb), 0.05);
    --color-icon-neutrals: var(--color-base-gray-110);
    --color-icon-neutrals-strong: var(--color-base-gray-120);
    --color-icon-neutrals-subtle: var(--color-base-gray-80);
    --color-icon-neutrals-weak: var(--color-base-gray-100);
    --color-icon-translucent: rgba(var(--color-base-white-rgb), 0.6);
    --color-icon-translucent-strong: rgba(var(--color-base-white-rgb), 0.9);
    --color-icon-translucent-subtle: rgba(var(--color-base-white-rgb), 0.3);
    --color-icon-translucent-weak: rgba(var(--color-base-white-rgb), 0.4);
    --color-text-button-secondary: var(--color-base-white);
    --color-text-button-secondary-disabled: var(--color-base-gray-110);
    --color-text-info: var(--color-base-system-blue-110);
    --color-text-message-bubble-suggested: var(--color-text-info);
    --color-text-neutrals: var(--color-base-gray-120);
    --color-text-neutrals-subtle: var(--color-base-gray-100);
    --color-text-neutrals-weak: var(--color-base-gray-110);
    --color-text-select: var(--color-base-gray-120);
    --color-text-select-disabled: var(--color-base-gray-110);
    --color-text-translucent: rgba(var(--color-base-white-rgb), 0.9);
    --color-text-translucent-subtle: rgba(var(--color-base-white-rgb), 0.5);
    --color-text-translucent-weak: rgba(var(--color-base-white-rgb), 0.7);
  }
}
